*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
ul>li{
   
    float: left;
    padding: 4px 0.5em;
}
ul{
  
    display: inline-block;
}
img{
max-width: 100%;
}
.logo>img{
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
 .nav{
     float: left;
     margin-right: 30px;
 }
 header{
   
     background: white;
 }
 .content{
     width: 1000px;
     margin-top: 20px;
    
     margin-left: auto;
     margin-right: auto;
 }
 aside{
     width: 200px;
     height: 300px;
     
     float: left;
     background: grey;
 }
 main{
     width: 600px;
     height: 300px;
     float: left;
     background: #ccc;
 }
 .ad{
     width: 200px;
     height: 300px;
     background: #aaa;
     float: left;
 }
 .imageslist{
     outline: 1px solid red;
     width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
 }
 .imageslist>.x>.image{
     outline: 1px solid green;
     width: 196px;
     height: 196px;
     margin-right: 5px;
     float: left;
     background: gray;
 }
 .imageslist>.x{
     margin-right: -5px;
 }